body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

header, main, footer {
    width: 80%;
    margin: 20px auto;
}



/* サイドナビ */
nav a {
    margin-right: 20px;
    text-decoration: none;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    color: gold;
}

.gold-color {
    color: gold;
}


.hamburger-menu {
    display: none;
}

@media only screen and (max-width: 600px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }
}





/* ストーリー */
#story p {
    font-size: calc(18px / 5);
}


/* フッター */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    text-align: center;
}


/* イメージ */

.img-responsive {
    width: 100%;
    height: auto;
}


.top-image img {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    border: 20px solid white;
}

.center-image {
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




@media only screen and (max-width: 600px) {
    .top-image img, .center-image img {
        width: 100%;
        height: auto;
    }
}


@media only screen and (min-width: 601px) and (max-width: 900px) {
    /* タブレット向けのスタイル */
}

/* 通常サイズの時にはナビゲーションを表示する */
#mobile-nav {
    display: block;
}

/* スマホサイズの時にはナビゲーションを非表示にし、ハンバーガーメニューを表示する */
@media only screen and (max-width: 768px) {
    #hamburger-icon {
        display: block;
    }
    #mobile-nav {
        display: none;
    }
}


/* 通常サイズの時にはハンバーガーメニューを非表示にする */
#hamburger-menu {
    display: none;
}

/* スマホサイズの時にはハンバーガーメニューを表示する */
@media only screen and (max-width: 768px) {
    #hamburger-menu {
        display: flex;
    }
}


/* ハンバーガーメニューのスタイル */
#hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px; /* ここは適切なサイズに調整してください */
}

#hamburger-menu .bars span {
    display: block;
    width: 33px;
    height: 4px;
    margin: 5px auto;
    background-color: #333;
}

#hamburger-menu #menu-text {
    font-size: 18px;
    color: #333;
}


